@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
    overflow: hidden;
}

.logo{
    width: 146px;
    height: 135px;
    margin-bottom: 21px;
}

.container_login{
    display: flex;
    flex-direction: row-reverse;
}

.img_login{
    width: 70vw;
    height:100vh;
    background-color:#1D826E;
}

h1{
    font-weight: bold;
    font-size: 44px;
    color: #000000;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 100vh;
    margin-top: 42px;
}

input{
    width: 422px;
    height: 55px;
    border-color: #000000;
    margin: 30px;
    padding-left: 10px ;
}

section a{
    text-decoration: none;
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 19px;
    font-size: 16px;
}

button{
    width: 306px;
    height: 52px; 
    background: #1D826E;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    justify-self: center;
    align-self:initial;
    margin-top: 133px;
}



